# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/
env/
venv*/
ENV*/

# PyCharm
.idea/

# VS Code
.vscode/

# Jupyter Notebook
.ipynb_checkpoints

# Rope
.ropeproject

# Django
*.log
local_settings.py

# Flask
instance/
.webassets-cache

# Scrapy
.scrapy

# Sphinx
docs/_build/

# mypy
.mypy_cache/

# Coverage
.coverage
htmlcov/

# Translations
*.mo

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Reports
reports/

# db
*.db
*.sqlite
*.sqlite3
*.sqlite3.db

# chainlit
.chainlit/

.pytest_cache/
